.flex-container {
    display: flex;
    height: 100vh;  /* Ensure the flex container takes up the entire viewport height */
    width: 30%;
    background-color: aquamarine;
flex-direction: column;
justify-content: space-between;
align-items:baseline;
}
.flex-container2{
 display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: space-between;
  align-items: center;
  background-color: aquamarine;

  
}
.box4,.box8,.box9 {
  
    width: 20vmin;  /* Use viewport width and height units to create squares */
    height: 20vmin;
    margin: 2vmin;

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box3 {
    width: 20vmin;  /* Use viewport width and height units to create squares */
    height: 20vmin;
    margin: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: red;

}
    

.box2 {
    background-color: green;
}

.box3 {
    background-color: yellow;
}


.flex-container3 {
    display: flex;
    height: 100vh;  /* Ensure the flex container takes up the entire viewport height */
    width: 30%;
    background-color: aquamarine;
flex-direction: column;
justify-content: space-between;
align-items:end;
}




.box5, .box6, .box7 {
    width: 20vmin;  /* Use viewport width and height units to create squares */
    height: 20vmin;
    margin: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 {
    background-color: red;
    
}

.box6 {
    background-color: green;
}

.box7 {
    background-color: yellow;
}